/* --------------- global variable starts */
:root {
	--gutter-size: 128px;
	--gutter-size-regular: 10vw;
	--gutter-size-larger: 20vw;
	--font-size-regular-smaller-screen: 16px;
	--font-size-regular-larger-screen: 24px;
	--margin-section-regular: 32px;
	--flex-gap-elements: 7px;
	--margin-elements-regular: 15px;
	--flex-gap-regular: 15px;
	--border-radius-regular: 15px;
	--padding-regular: 15px;
	--primary-color: #034c53;
	--button-color: #e27126;
}
/* --------------- global variable ends */

html {
	font-size: var(--font-size-regular-larger-screen);
}

* {
	margin: 0;
	padding: 0;
	font-family: Inter;
}
.gutter-size {
	margin: 0px max(var(--gutter-size), 20vw);
}
/* Navbar section starts **/

header nav ul {
	list-style-type: none;
	display: flex;
	justify-content: end;
	gap: var(--flex-gap-regular);
}
/* --------------------Navbar section ends **/

/* Hero section starts **/

.gradient-group {
	background: linear-gradient(
		to bottom,

		/* white, fully opaque */ rgba(208, 234, 232, 0.8) 0%,
		/* semi-transparent */ rgba(219, 248, 244, 0.6) 59%,
		rgba(205, 248, 242, 0.7) 81%,
		rgba(255, 255, 255, 0.9) 94%
	);
}

.gradient-group #hero-section {
	display: flex;
	justify-content: space-between;
	margin-top: var(--margin-section-regular);
}

.gradient-group #hero-section .left-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.gradient-group #hero-section .left-content .left-group-1 {
	margin-top: var(--margin-section-regular);
}
.gradient-group #hero-section .left-content .left-group-1 button.resume-btn {
	background: var(--button-color);
	border: 1px solid var(--button-color);
	padding: var(--padding-regular);
	border-radius: var(--border-radius-regular);
	color: #fff;
}
.gradient-group #hero-section .left-content .left-group-1 h1 {
	font-size: 2rem;
	color: var(--primary-color);
}
.gradient-group #hero-section .left-content .left-group-1 h1 span.intro {
	color: #000;
}
.gradient-group #hero-section .left-content .left-group-1 span.word-highlight {
	color: var(--primary-color);
}
.gradient-group #hero-section .left-content .left-group-1 h6 {
	font-size: 1rem;
	color: var(--primary-color);
	position: relative;
	left: 36px;
	width: fit-content;
}
.gradient-group #hero-section .left-content .left-group-1 h6::before {
	content: '';
	position: absolute;
	width: 36px;
	height: 2px;
	left: -36px;
	background: var(--primary-color);
	top: 50%;
}
.gradient-group #hero-section .left-content .left-group-1 h6::after {
	content: '';
	position: absolute;
	width: 36px;
	height: 2px;
	right: -36px;
	background: var(--primary-color);
	top: 50%;
}
.gradient-group #hero-section .left-content .left-group-1 h4 {
	font-size: 1.25rem;
	margin: calc(var(--margin-section-regular) * 0.6) 0 calc(var(--margin-section-regular) * 0.2) 0;
}

.gradient-group #hero-section .left-content h5 {
	font-size: 0.9rem;
}
.gradient-group #hero-section .right-content {
	width: 50%;
	display: flex;
	justify-content: end;
}

.gradient-group #hero-section .right-content img {
	max-width: 18rem;
}

/* ---------------- About me */
section.gradient-group section.my-info {
	display: flex;
	margin-top: var(--margin-section-regular);
	background: #fff;
	border: 1px solid #dbf8f4;
	border-radius: var(--border-radius-regular);
	padding: calc(2.5 * var(--padding-regular));
}
section.gradient-group section.my-info .profile-image img {
	width: 164px;
}

section.gradient-group section.my-info .profile-detail .text-description h1.title {
	font-size: 1.5rem;
	font-weight: 800;
}
section.gradient-group section.my-info .profile-detail .text-description p {
	margin-top: var(--margin-section-regular);
	font-size: 1rem;
}
section.gradient-group section.my-info .profile-detail .contact-logo {
	margin-top: var(--margin-elements-regular);
	display: flex;
	justify-content: flex-end;
}
section.gradient-group section.my-info .profile-detail .contact-logo img {
	width: 18px;
	margin-right: calc(var(--margin-elements-regular) - 8px);
}
/* ---------------- About me ends*/

/* --------------------------- Hero section ends **/
/* section separator */

img.section-separator {
	width: 35%;
	height: 40px;
	margin-top: calc(2 * var(--margin-section-regular));
	margin-bottom: calc(2 * var(--margin-section-regular));
}

section.section-separator-reverse-container {
	display: flex;
	justify-content: end;
}
/* ------------------------- section separator ends */

/* Skill section   */

.skill-section .skill-items {
	display: flex;
	flex-wrap: wrap;
	margin-top: var(--margin-section-regular);
	gap: 15px;
	justify-content: center;
}
.skill-section .skill-items .skill {
	width: 188px;
	height: 160px;
	border: 1px solid #7fd7cb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--flex-gap-elements);

	background: linear-gradient(35deg, rgba(72, 197, 180, 0.45) 65%, rgba(255, 255, 255, 1) 98%);

	border-radius: calc(1.67 * var(--border-radius-regular));
}

.skill-section .skill-items .skill img.skill-logo {
	width: 62px;
}
.skill-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.skill-title img.skill-icon {
	width: 24px;
}
.skill-title h4 {
	font-size: 1.5rem;
	font-weight: 800;
}

/* -------------------------- Skill section ends  */

/* Project section starts */
.project-section {
	margin-bottom: var(--margin-elements-regular);
}
.project-section .projects {
	display: flex;
	gap: var(--margin-elements-regular);
	flex-wrap: wrap;
	justify-content: space-between;
}
.project-section .projects .project-item-container {
	position: relative;
}
.project-section .projects .project-item-container img.project-thumbnail {
	width: 30.5rem;
	height: 19.5rem;
	position: absolute;
	top: 60px;
	left: 15px;
}
.project-section .projects .project-item {
	border: 1px solid #02ebce;
	border-radius: calc(1.67 * var(--border-radius-regular));
	margin-top: calc(3 * var(--margin-elements-regular));
	width: 25.5rem;
	height: 14.5rem;
	background: linear-gradient(
			to top right,
			/* white, fully opaque */ rgb(196 233 229) 0%,
			/* semi-transparent */ rgba(2, 235, 206, 0) 100%
		),
		linear-gradient(
			to top right,
			/* white, fully opaque */ rgba(162, 243, 231, 1) 0%,
			/* semi-transparent */ rgba(239, 239, 239, 1) 81%
		);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: calc(2.67 * var(--margin-elements-regular));
}

.project-section .projects .project-item .unordered-list {
	margin: calc(2 * var(--margin-elements-regular)) 0;
}

.project-section .projects .project-item .unordered-list ul {
	list-style-type: disc;
	line-height: 1;
	margin-left: calc(1.5 * var(--margin-elements-regular));
}
.project-section .projects .project-item .unordered-list ul li {
	color: rgba(0, 0, 0, 0.85);
}
.project-section .projects .project-item .unordered-list ul li::marker {
	font-size: 1.5rem;
}
.project-section .projects .project-item .project-title {
	font-size: 1.5rem;
	color: var(--primary-color);
	font-weight: 800;
}
.project-section .projects .project-item .technologies-used {
	margin-top: calc(var(--margin-elements-regular) / 3);
	display: flex;
	justify-content: flex-start;
	gap: var(--flex-gap-regular);
}
.project-section .projects .project-item .technologies-used .tech-item {
	display: flex;
	gap: calc(var(--margin-elements-regular) / 3);
	align-items: center;
}
.project-section .projects .project-item .technologies-used .tech-item h5.tech-title {
	font-weight: 400;
}
.project-section .projects .project-item .technologies-used .tech-item img {
	width: 24px;
}
.project-section .projects .project-item button {
	width: 100%;
	background: var(--button-color);
	border: 1px solid var(--button-color);
	padding: var(--padding-regular);
	color: #fff;
	border-radius: var(--border-radius-regular);
}
/* -------------------------------- project section ends  */

/* Contact Section  */

section.contact-me {
	background: linear-gradient(to right, rgba(21, 9, 99, 1), rgba(48, 27, 179, 0.7));
	border-radius: var(--border-radius-regular);
	padding: calc(2 * var(--padding-regular)) 70px;
}

section.contact-me section.contact-body {
	display: flex;
	justify-content: space-between;
}

section.contact-me .skill-title h4 {
	color: white;
}

section.contact-me h4 {
	color: white;
	font-size: 1.5rem;
	font-weight: 800;
}

section.contact-me ul {
	list-style-type: none;
	margin-top: 50px;
}

section.contact-me ul li {
	font-size: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
	gap: 10px;
}

section.contact-me ul li img {
	width: 24px;
	height: 24px;
}

section.contact-me .linked-in {
	display: flex;
	gap: var(--flex-gap-elements);
}
section.contact-me h5.email-address {
	color: white;
}
section.contact-me .linked-in img.linkedin-icon {
	width: 24px;
}
section.contact-me .linked-in p {
	color: white;
}
section.contact-me .social-section {
	margin-top: 50px;
}

section.contact-me section.contact-body .left-section {
	flex-basis: 45%;
}
section.contact-me section.contact-body .right-section {
	flex-basis: 45%;
	display: flex;
	justify-content: flex-end;
}
section.contact-me section.contact-body .right-section .right-contact-body {
	background: white;
	border: 1px solid white !important  ;
	border-radius: var(--border-radius-regular);
	padding: calc(2.34 * var(--padding-regular));
	width: 95%;
	height: 100%;
	border: 1px solid;
	box-sizing: border-box;
}
section.contact-me section.contact-body .right-section .right-contact-body .input-name-email {
	position: relative;
}
section.contact-me section.contact-body .right-section .right-contact-body .input-name-email input::placeholder,
section.contact-me section.contact-body .right-section .right-contact-body textarea::placeholder {
	font-size: 0.85rem;
}
section.contact-me section.contact-body .right-section .right-contact-body .input-name-email img {
	width: 24px;
	position: absolute;
	top: 10px;
	left: 5px;
}
section.contact-me section.contact-body .right-section h5 {
	font-size: 1.25rem;
	text-align: center;
	margin-bottom: var(--margin-elements-regular);
}

section.contact-me section.contact-body .right-section .right-contact-body input {
	margin-bottom: calc(var(--margin-elements-regular) - 8px);
}
section.contact-me section.contact-body .right-section .right-contact-body input,
section.contact-me section.contact-body .right-section .right-contact-body textarea {
	padding: 10px 5px 10px 30px;
}
section.contact-me section.contact-body .right-section .right-contact-body input,
section.contact-me section.contact-body .right-section .right-contact-body textarea {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: var(--border-radius-regular);
	font-size: 1rem;
	resize: none; /* optional, prevents manual resizing */
}

section.contact-me section.contact-body .right-section .right-contact-body textarea {
	min-height: 150px; /* adjust height instead of rows/cols */
}

/* -------------------------------- contact section ends  */

/* ----------- for screen with 1366 or less */
@media (max-width: 1567px) {
	html {
		font-size: var(--font-size-regular-smaller-screen);
	}
	header nav ul {
		list-style-type: none;
		display: flex;
		justify-content: end;
		gap: 15px;
	}
	.gutter-size {
		margin: 0px max(var(--gutter-size), 10vw);
	}
}
